body {
  color: white;
  margin: 0;
  padding: 0;
}

.info-btn {
  background: transparent;
  border: transparent;
  text-transform: capitalize;
  cursor: pointer;
  color: #76a9fa;
  font-weight: 600;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.title-underline {
  background: #38bdf8;
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.about {
  font-family: "Poppins", sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  position: relative; /* Establishes positioning context */
  align-items: center;
  min-height: 120vh; /* Adjust the height of the section as needed */
  width: 100%; /* Ensure the section spans the entire width */
  overflow: hidden;
}

.blurry-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/home.png"); /* Replace with the path to your about image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(15px); /* Adjust the blur intensity as needed */
  z-index: 0;
}

.about-content {
  margin-top: 80px;
  align-content: center;
  max-width: 700px; /* Adjust the value to your desired width */
  /* Centers the container horizontally */
  position: relative; /* Establish positioning context */
  z-index: 1; /* Ensure content is above the blurred background */
  text-align: justify;
  padding: 20px;
  box-sizing: border-box;
  transition: transform 0.6s ease, opacity 0.6s ease;
  transform: translateX(0);
}

.paragraphs {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center paragraphs horizontally */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.paragraphs p {
  width: 100%;
  max-width: 100%;
  margin-bottom: 40px;
  line-height: 1.6;
  transition: transform 0.6s ease, opacity 0.6 ease;
}

@media screen and (max-width: 1024px) {
  .about-content {
    margin-top: 80px;
    max-width: 90%;
    padding: 20px;
  }

  .paragraphs p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  /* Adjust styles for screens smaller than 768px */
  .about-content {
    margin-top: 50px;
    padding: 10px;
    max-width: 90%; /* Adjust the value to your desired width */
  }

  .paragraphs {
    margin-left: 0;
  }

  .paragraphs p {
    font-size: 0.9rem;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 480px) {
  .about-content {
    margin-top: 20px;
    padding: 10px;
    max-width: 95%;
  }

  .paragraphs p {
    font-size: 0.8rem;
    margin-bottom: 20px;
  }
}
