.contact {
  background-image: url("../images/contact.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  position: relative;
  background-attachment: fixed;
  transform: translateZ(0);
}

.contact-card {
  background: rgba(0, 0, 0, 0.8);
  padding: 5rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 600px;
  margin: auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-details {
  display: flex;
  flex-direction: column;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.contact-item img {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  filter: brightness(0) invert(1);
}

.contact-item p {
  margin: 0;
  margin-right: 8px;
}

.myDetails {
  display: inline-block;
}

.s-me h3 {
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .contact-card {
    width: 90%;
    padding: 20px;
  }

  .contact-item img {
    margin-right: 12px;
  }

  .contact-item p {
    margin-right: 6px;
  }
}

@media screen and (max-width: 480px) {
  .contact-card {
    width: 95%;
    padding: 20px;
  }

  .contact-item {
    margin-bottom: 15px;
  }

  .contact-item img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .contact-item p {
    margin-right: 4px;
  }
}
