.cv {
  background-image: url("../images/cv.jpeg"); /* Replace with the path to your CV image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* Adjust the height of the section as needed */
  width: 100%; /* Ensure the section spans the entire width */
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.top-section {
  display: flex;
}

.profile-img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  border-radius: 100px;
}
