@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Cookie&display=swap");

.cv {
  background-image: url("../images/cv.png"); /* Replace with the path to your CV image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* Adjust the height of the section as needed */
  width: 100%; /* Ensure the section spans the entire width */
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.top-section {
  display: flex;
  flex-direction: row;
  width: 120vh;
  align-items: center;
  background-color: #8c8c8c;
  padding: 50px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.spacer {
  width: 200px;
}

.profile-img img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  border-radius: 100px;
}

.desc h2 {
  font-size: 2.4em;
}

.desc h3 {
  font-size: 2em;
  font-family: "Cookie", cursive;
  color: #89bcdb;
}

.bottom-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.left,
.right {
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 50px;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.8);
}

.left {
  background-color: #89bcdb;
  width: 120vh;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.right {
  background-color: black;
  width: 90vh;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.line {
  border-top: 1px solid white;
  margin: 20px 0;
}

.education-info p {
  margin: 5px 0;
}

.education {
  margin-bottom: 80px;
}

.right h3,
.left h3 {
  margin-top: 30px;
}

.right h4,
.left h4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.right h5 {
  margin-bottom: 8px;
}

.left p,
.right p {
  margin-top: 5px;
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  .top-section {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    width: 100%;
  }

  .profile-img img {
    margin-top: 30px;
    width: 150px;
    height: 150px;
  }

  .spacer {
    margin-bottom: 30px;
  }

  .desc h2 {
    font-size: 1.8em;
  }

  .desc p {
    font-size: 1.5em;
  }

  .bottom-section {
    flex-direction: column;
  }

  .left,
  .right {
    width: 100%;
    border-radius: 0;
    padding: 20px;
    margin: 0;
    height: auto;
  }

  .left {
    order: 2; /* Ensure this comes after .right on smaller screens */
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-bottom: 50px;
  }

  .left h3,
  .right h3 {
    font-size: 1.5em;
  }

  .left h4,
  .right h4 {
    font-size: 1.2em;
  }

  .left p,
  .right p {
    font-size: 1em;
  }

  .right {
    order: 1;
  }
}

/* Media Queries for Responsiveness */
@media (max-width: 992px) {
  .top-section {
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    padding: 20px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    width: 100%;
  }

  .profile-img img {
    margin-top: 30px;
  }

  .spacer {
    margin-bottom: 30px;
  }

  .desc h2 {
    font-size: 1.8em;
  }

  .desc p {
    font-size: 1.5em;
  }

  .bottom-section {
    flex-direction: column;
  }

  .left,
  .right {
    width: 100%;
    border-radius: 0;
    padding: 20px;
    margin: 0;
    height: auto;
  }

  .left {
    order: 2; /* Ensure this comes after .right on smaller screens */
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-bottom: 50px;
  }

  .left h3,
  .right h3 {
    font-size: 1.5em;
  }

  .left h4,
  .right h4 {
    font-size: 1.2em;
  }

  .left p,
  .right p {
    font-size: 1em;
  }

  .right {
    order: 1;
  }
}

@media (max-width: 576px) {
  .desc h2 {
    font-size: 1.5em;
  }

  .right {
    height: auto;
  }

  .left {
    height: auto;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .desc p {
    font-size: 1.2em;
  }

  .left h3,
  .right h3 {
    font-size: 1.2em;
  }

  .left h4,
  .right h4 {
    font-size: 1em;
  }

  .left p,
  .right p {
    font-size: 0.9em;
  }
}

@media (max-width: 375px) {
  .top-section {
    padding: 10px;
    margin-top: 20px;
  }

  .profile-img img {
    width: 150px;
    height: 150px;
  }

  .desc h2 {
    font-size: 1.4em;
  }

  .desc p {
    font-size: 1.1em;
  }

  .bottom-section {
    flex-direction: column;
  }

  .left,
  .right {
    width: 100%;
    border-radius: 0;
    padding: 15px;
    margin: 0;
    height: auto;
  }

  .left {
    order: 2;
    margin-bottom: 0;
  }

  .right {
    order: 1;
    margin-bottom: 0;
  }

  .left h3,
  .right h3 {
    font-size: 1.3em;
  }

  .left h4,
  .right h4 {
    font-size: 1em;
  }

  .left p,
  .right p {
    font-size: 0.9em;
  }
}
